@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://unicons.iconscout.com/release/v3.0.0/css/line.css');

.Toastify__toast-container {
	border-radius: 0.25rem;
}

.tippy-box[data-theme~='dropdown'] {
	color: inherit;
}

.tippy-box[data-theme~='dropdown'] > .tippy-content {
	padding: 0;
}

body {
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: theme('colors.gray.100');
}

input::selection {
	background-color: white;
	color: theme('colors.teal.500');
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

div.loader {
	border: 2px solid transparent;
	border-top: 4px solid theme('colors.teal.500');
	border-radius: 50%;
}

li.selected {
	border-left: 2px solid theme('colors.teal.500');
}
